# rez-fleet-management
NODE_ENV=development
PORT=4000

# Event Bus
EVENT_BUS_URL=http://localhost:4025

# Internal Token
INTERNAL_SERVICE_TOKEN=your-token

# Database
MONGODB_URI=mongodb://localhost:27017/service-db

# Redis
REDIS_URL=redis://localhost:6379

# Logging
LOG_LEVEL=info
